venv/
.venv/
testenv/
testenv2/
__pycache__/
*.pyc
.env
.env.example
.python-version
logs/
eval_results.json
ragas_results.json
eval.py
eval_ragas.py
docs/
.git/
.gitignore
README.md
.ruff_cache/
.pytest_cache/
.github/
tests/
